{% extends 'base.html' %}
<!-- content -->

{% block body %}

<div class="container-fluid bg-secondary py-4 text-light">
    <h3 class="text-center text-light ">About Us </h3>
    <p class="text-center"> BookForts</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5">
      <img
        src="https://media.istockphoto.com/id/1222563369/photo/bookstore-shop-exterior-with-books-and-textbooks-in-showcase.jpg?s=612x612&w=0&k=20&c=nvfvNWLiP6LKfhfTUVYppVRmzlpH8-ujIxk5jOtDcCE="
        alt="books"
      />
    </div>
    <div class="col-md-6 mt-4">
      <p class="lead">
        An online book store is an excellent platform for avid readers and book
        enthusiasts to access a vast collection of books from various genres,
        authors, and publishers. It offers a convenient and user-friendly
        experience, allowing customers to browse, search, and purchase their
        favorite titles with just a few clicks. A well-designed online book
        store should have an intuitive interface, secure payment methods, and
        efficient shipping options.
      </p>

      <p class="lead">
        To make the most of your online book store experience, consider creating
        an account to save your preferences, track orders, and receive
        personalized recommendations. Explore different categories such as
        fiction, non-fiction, children's books, and academic texts, and don't
        forget to check out the bestsellers and new releases.
      </p>

      <p class="lead">
        Many online book stores also offer additional features like book
        reviews, author biographies, and reading guides to help you make
        informed purchasing decisions. Moreover, you can often find exclusive
        deals, discounts, and promotions that can help you save money while
        expanding your literary horizons.
      </p>
    </div>
  </div>
</div>

{% include 'footer.html' %}
{% endblock %}
