<div class="container-fluid bg-dark text-light">
    <div class="row">
      <div class="col-md-4 mt-2">
        <h5 class="text-center fw-bold text-light">Useful Links</h5>
        <a  class="nav-link active text-light text-center" aria-current="page" href="/"><i class="fa-solid fa-house"></i> Home</a>
        <a class="nav-link active text-light  text-center" aria-current="page" href="/about/"><i class="fa-solid fa-address-card"></i> About Us</a>
        <a class="nav-link active text-light  text-center" aria-current="page" href="/contact/"><i class="fa-solid fa-phone"></i> Contact Us</a>

      </div>
      <div class="col-md-4 mt-2">
        <h5 class="text-center fw-bold text-light">About</h5>
        <p class="text-center">
          <i class="fa-solid fa-share"></i> Our online bookstore offers a diverse range of books across various
          genres including fiction, non-fiction, mystery, romance, sci-fi,
          self-help, etc. This will cater to different tastes and interests of
          readers. <i class="fa-solid fa-reply"></i>
        </p>
        
        
      </div>
      
      <div class="col-md-4 mt-2 text-center">
          <h5 class="text-center fw-bold text-light">Mail Us</h5>
          <p><i class="fa-regular fa-envelope text-center"></i> mail Us:-Mahakalbookfort@gmail.com</p>
          <p><i class="fa-solid fa-phone"></i> Phone.No:-0731-4670001</p>

      </div>

    </div>
  </div>