{% extends 'base.html' %}
{% load static %}
{% block title %} Contact Us {% endblock %}
{% block css %}
{% endblock %}
{% block body %}

<div class="container-fluid bg-secondary py-4 text-light">
    <h3 class="text-center text-light "><i class="fa-solid fa-user"></i> Contact Us</h3>
    <p class="text-center"> BookForts</p>
  </div>
<div class="container py-2 mt-3">
    <h2>Contact Us</h2>
    <form method="post">{% csrf_token %}

        <div class="form-group">
            <div class="form-group mt-2">
                <label>How May We Help You ?</label>
                <textarea class="form-control mt-2" id="desc" name="desc" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-success mt-4">Submit</button>
    </form>
    {% endblock %}
    {% block js %}
    <script>
        {% if alert %}
        alert("We will contact you soon!!!");
        document.location = "/"
        {% endif %}
    </script>
    {% endblock %}